In [2]:
import pandas as pd

In [3]:
samples_file = "db/belly_button_biodiversity_samples.csv"

In [11]:
# Read with Pandas
samples_pd = pd.read_csv(samples_file)
samples_pd = samples_pd.set_index('otu_id')
samples_pd.head()

,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,BB_950,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
otu_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
5,0.0,0,0,0,0,0,0,0.0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
samples_pd_transposed = samples_pd.T
samples_pd_transposed.head()

otu_id,1,2,3,4,5,6,7,8,9,10,...,3665,3666,3667,3668,3669,3670,3671,3672,3673,3674
BB_940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BB_941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BB_943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BB_944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BB_945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
samples_pd_transposed['otu_id']

KeyError: 'otu_id'